<%= provide(:title, 'Home') %>

<h1>Welcome!</h1>

<div class="btn-group" role="group">
  <%= link_to 'All Projects', projects_path, class: "btn btn-default" %>
  <%= link_to "Add New Project", new_project_path, class: "btn btn-default" %>
</div>
