/*
Author: Chris Anthony
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* GENERAL */

html, body {
  height: 100%;
  width: 100%;
  margin-top: 25px;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;

  // Background image with gradient
  background: rgb(61,205,188);
  background-image: asset-data-url("bg-img.jpeg");
  background-image: asset-data-url("bg-img.jpeg"), -moz-linear-gradient(-45deg, rgba(61,205,188,.7) 0%, rgba(41,137,216,.7) 50%, rgba(61,205,188,.7) 100%);
  background-image: asset-data-url("bg-img.jpeg"), -webkit-linear-gradient(-45deg, rgba(61,205,188,.7) 0%,rgba(41,137,216,.7) 50%,rgba(61,205,188,.7) 100%);
  background-image: linear-gradient(135deg, rgba(61,205,188,.7) 0%,rgba(41,137,216,.7) 50%,rgba(61,205,188,.7) 100%), asset-data-url("bg-img.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, figure {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
}

a {
  color: $brand-primary;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

.menu {
  padding: 0;
  margin: 30px 0 0 0;
}
.menu li {
  list-style: none;
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.menu li a {
  padding: 5px;
}
.menu li.active a {
  color: #17B794;
}

img {
  vertical-align: middle;
}

  /* Nav */

.navbar-default {
  color: #333;
  background-color: rgba(255, 255, 255, 1); // default: rgba(248, 248, 248, 1);
  border: 1px solid #fcfcfc; // default: border-color: #e7e7e7;
  .navbar-nav {
    float: right;
  }
}

.navbar-brand {
  color: #333;
  display: inline-block;
  img {
    border: 0;
    margin-top: -10px;
    vertical-align: middle;
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color !important;
    background-color: transparent; //$dropdown-link-hover-bg default
  }
}

ul.dropdown-menu {
  a {
    color: #333 !important;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color; // $component-active-color :: #fff !default;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-bg; // $component-active-bg :: $brand-primary !default;
  }
}

  /* Forms */

// disable abbr decoration
abbr[title] {
  border: none;
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.boolean {
  margin-bottom: 10px !important;
  text-transform: none;
}

.checkbox {
  // margin-bottom: 0px;
}

.devise-shared-links {
  margin-bottom: 20px;
  .break {
    color: #9f9f9f;
    font-weight: 300;
    padding-right: 2px;
    padding-left: 2px;
  }
}

.help-block {
  text-transform: none;
}

.form-style {
  font-family: "Open Sans", Arial, sans-serif;
  color: #777;
  padding: 30px;
  margin-top: 10%;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;

  -webkit-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.35);

  background: #fff;
  h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    padding: 0;
    margin: 0px 0px 20px 0px;
  }
}

.form-group {
  margin-bottom: 1.3em;
}

.form-control {
  height: 30px;
  margin: 12px 0px;
  padding: 0px 12px;
}

.form-inputs {
  text-transform: none;
}

.form-style .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}

.form-style .form-group p a {
  color: #000;
}

.form-style label {
  font-weight: 300;
  font-size: 115%;
  font-weight: 300;
}

.form-style .form-control {
  font-size: 115%;
  font-weight: 300;
  color: #666;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &::-webkit-input-placeholder, &::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
  }
  &:-ms-input-placeholder, &:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
  }
}

.form-style .form-control:focus, .form-style .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.devise-links {
  margin: 1.5em 0em;
  // a {
  //   color: #555;
  //   &:hover, &:active {
  //     color: $link-hover-color;
  //   }
  // }
  span.break {
    color: #9f9f9f;
    padding: 0px 3px;
  }
}

label {
  margin-bottom: 0px;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}

  /* Buttons */

.btn-default {
  color: white;
  background-color: darken($brand-primary, 2.5%);
  border-color: lighten($brand-primary, 5%);
  &:hover, &:active, &:focus, &:active:focus {
    color: white !important;
    background-color: darken($brand-primary, 7.5%);
    border-color: lighten($brand-primary, 5%);
  }
}

.btn-primary {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  background: $btn-primary-bg;
  color: $btn-primary-color;
  -webkit-box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.5);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background: darken($link-color, 5%);
  outline: none;
}

input, textarea {
  color: #000;
}

.placeholder {
  color: #aaa;
}

.js .animate-box {
  opacity: 0;
}

  /* Alert Classes */

.alert {
text-align: center;
}

// Danger
.alert-alert {
@include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// Info
.alert-notice {
@include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

  /* Bootstrap Focus Glow Override */

// #bootstrap-overrides input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus{
//   border-color: $input-border-focus;
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(26, 188, 156, 0.6);
//   outline: 0 none;
// }

/* HEADER */

/* FOOTER */

/* MISCELLANEOUS */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}

/* RESPONSIVE STYLE */

@media screen and (max-width: 320px) {
  .form-style {
    // padding: 30px;
    margin-top: 40%;
  }
}

@media screen and (min-width: 320px) {
  .form-style {
    // padding: 30px;
    margin-top: 35%;
  }
}

@media screen and (min-width: 480px) {
  .form-style {
    // padding: 30px;
    margin-top: 27.5%;
  }
}

@media screen and (min-width: 768px) {
  .form-style {
    padding: 15px;
    margin-top: 19%;
  }
}

@media screen and (min-width: 1224px) {
  .form-style {
    // padding: 15px;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1650px) {
  .form-style {
    // padding: 15px;
    margin-top: 8.5%;
  }
}

@media screen and (min-width: 1850px) {
  .form-style {
    // padding: 15px;
    margin-top: 7.5%;
  }
}
