/*
Author: Chris Anthony
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/* FONTS */

/* GENERAL */

body {
  background: #3dcdbc;
  
  background: -moz-linear-gradient(left, #3dcdbc 0%, #2896d4 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #2896d4));
  background: -webkit-linear-gradient(left, #3dcdbc 0%, #2896d4 100%);
  background: -o-linear-gradient(left, #3dcdbc 0%, #2896d4 100%);
  background: -ms-linear-gradient(left, #3dcdbc 0%, #2896d4 100%);
  background: linear-gradient(to right, #3dcdbc 0%, #2896d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dcdbc', endColorstr='#2896d4', GradientType=1 );
}

/* FIXES */

  /* Bootstrap Focus Glow Override */

// #bootstrap-overrides input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus{
//   border-color: $brand-primary;
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(26, 188, 156, 0.6);
//   outline: 0 none;
// }

  /* Extra Alert Classes */

// Danger
.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// Info
.alert-notice {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

/* HEADER */

/* FOOTER */

/* MISCELLANEOUS */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}

/* RESPONSIVE STYLE */
